# TeX

## Core files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## package minted
_minted*
*.pyg

## package xsim
*-exercise-[0-9]-exercise-body.tex
*-exercise-[0-9]-solution-body.tex

# Python

## Byte-compiled/optimized/DLL files
__pycache__/
*.py[cod]
*$py.class